
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/*blog css*/
body {
  padding-top: 54px;
}

.error {
  color: #721c24;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
