/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  font-family: tahoma, arial, sans-serif;
  font-size: 18px;
  color: #5F3600;
}


.h4,h4{
  font-size:28px;
}


.bg-dark {
  background-color: #5F3600!important;
}


.btn-primary {
    background-color: #8EBC73;
    border-color: #8EBC73;
}


.btn-primary:hover {
    background-color: #8EBC73;
    border-color: #8EBC73;
    opacity: 0.8;
}


.jumbotron {
    background-color: #AF7B37;
}




@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}




